

<div ng-controller="ItemCtrl">

<div class="container">
	
	
	
	<table class="table">
	<h1> whereismystuff </h1>
	<tr>
		<form class="table" ng-submit="createItem()">
 			<th>What is it? <input type="text" ng-model="newName" placeholder="What?"> </th>
 			<th>Where is it?<input type="text" ng-model="newLocation" placeholder="Where?"></th>
 			<th><input type="submit" value="Add"></th>
 		</form>
				
		
	</tr>
	<tr ng-repeat="Item in Items">
		<td>{{Item.name}}</td>
		<td>{{Item.location}}</td>
		<td><a href='#' ng-click="deleteItem(Item.id, $index)">X</a></td>
	</tr>
	</table>

</div>
</div>